<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div class="materialContainer">
    <div class="box">
        <form>
            <h2 class="title">Đăng kí</h2>
            <div class="input">
                <label for="name">Tên người dùng</label>
                <input type="text" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="input">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="input">
                <label for="phone">Số điện thoại</label>
                <input type="tel" id="phone" name="phone" placeholder="Phone Number" required>
            </div>
            <div class="input">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="input">
                <label for="repass">Nhập lại mật khẩu</label>
                <input type="password" name="repass" id="repass" placeholder="Password" required>
                <span class="error-message">Mật khẩu không khớp!</span>
            </div>
            <div class="button">
                <button type="submit" class="btn btn-primary">Đăng kí</button>
            </div>
        </form>
    </div>
</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/register.js}"></script>
</body>
</html>