<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="login-container">
    <h2>Welcome </h2>
    <form th:action="@{/perform_login}" method="post">

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit" class="btn">Login</button>
    </form>

    <div class="or-divider">
        <span>or</span>
    </div>

    <button class="btn google-btn">
        <i class="fab fa-google"></i>
        Sign in with Google
    </button>

    <div th:if="${error}" class="error-message" th:text="${error}"></div>

    <div class="register-link">
        <p>Không có tài khoản ? <a th:href="@{/register}">Đăng ký</a></p>
    </div>
</div>

<script th:src="@{/js/login.js}"></script>
</body>
</html>
